<ion-header>
  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <img [src]="user.avatar_url" height="30" width="30" item-left />
      <p>{{user.login}}</p>

      <!-- <p *ngFor="let repo of numberOfRepos">{{numberOfRepos}}</p> -->



      <!-- <p *ngIf="user.getNumberOfRepos > 2" color="red">{{user.login}}</p>
      <p *ngIf="user.getNumberOfRepos <= 2">{{user.login}}</p> -->
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="addUsersOnScroll($event)">
    <ion-infinite-scroll-content *ngFor="let user of users">
      <!-- {{user.login}} -->
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
